body {
  font-family: Helvetica, Arial, sans-serif;
  color: #3B3B3B;
}

header #logo {
  background-color: #3B3B3B;
  color: #fff;
  width: 100%;
}

header h1 {
  font-family: Helvetica, Arial, sans-serif;
  text-align: center;
  font-weight: 100;
  margin: 0px;
  padding: 2% 0%;
}

@media screen and (min-width: 768px) {
  header h1 {
    text-align: left;
  }
}

header h1 span {
  color: #BFFF60;
}

nav {
  font-family: Arial, Helvetica, sans-serif;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: none;
}

@media screen and (min-width: 768px) {
  ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    float: right;
    margin: -3.5em 3em 0 0;
  }
}

.active {
  display: block;
  -webkit-transition: 2s;
  transition: 2s;
}

ul li {
  display: block;
  background-color: #3B3B3B;
}

li a {
  text-decoration: none;
  color: #fff;
  font-size: 1.25em;
  text-align: center;
  width: 100%;
  display: block;
  text-align: center;
  padding: .5em 0;
  -webkit-transition: .5s;
  transition: .5s;
}

li a:hover {
  background-color: #3958A7;
}

@media screen and (min-width: 768px) {
  li a {
    width: 5em;
  }
}

.menu-btn {
  float: right;
  margin: -2.5em 1em 0 0;
}

@media screen and (min-width: 768px) {
  .menu-btn {
    display: none;
  }
}

.content {
  width: 75%;
  margin: 0 auto;
}

section.hero {
  background-color: #3958A7;
  padding: 7em 0 1em;
  text-align: center;
  color: #fff;
}

section.hero h1 {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 100;
  margin: 0;
  padding: 0;
}

section.hero h1 span {
  color: #BFFF60;
}

section.hero h2 {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 100;
  margin-bottom: 5em;
}

section.hero a {
  color: #fff;
  display: inline-block;
  border: solid 1px #fff;
  padding: 1.5%;
  -webkit-box-shadow: 2.5px 3px rgba(255, 255, 255, 0.1);
          box-shadow: 2.5px 3px rgba(255, 255, 255, 0.1);
}

section.latest {
  margin: 0;
  background-color: #f7f8f9;
  color: #3B3B3B;
  padding: .25em 0 4em 0;
}

section.latest h2 {
  display: block;
  margin: 2em 0;
  text-align: center;
}

section.latest .post {
  background-color: #fff;
  width: 100%;
  margin: 0 auto;
  padding-bottom: 2em;
  font-family: Helvetica, Arial, sans-serif;
}

section.latest .post .box {
  width: 100%;
}

section.latest .post .box img {
  width: 100%;
}

section.latest .post h3 {
  margin: 1em 1em;
}

section.latest .post p {
  margin: 0 1em;
}

@media screen and (min-width: 768px) {
  section.latest .post {
    width: 45%;
  }
}

@media screen and (min-width: 1200px) {
  section.latest .post {
    width: 30%;
  }
}

section.connect {
  background-color: #3958A7;
  color: #fff;
  font-family: Helvetica, Arial, sans-serif;
  text-align: center;
  padding: 1em 0 4em 0;
}

section.connect img {
  width: 15%;
  margin: 1em 1.5em 0 1.5em;
}

@media screen and (min-width: 768px) {
  section.connect img {
    width: 10%;
    margin: 2em 4em 0 4em;
  }
}

.blogpost ol {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .blogpost ol {
    width: 80%;
    margin: 10% auto 0;
  }
}

.blogpost img {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .blogpost img {
    max-height: 45vh;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

@media screen and (min-width: 1200px) {
  .blogpost img {
    max-height: 50vh;
  }
}

.articles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  min-height: 90vh;
}

@media screen and (min-width: 768px) {
  .articles {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
  }
}

.thumbnails {
  display: block;
  width: 90%;
  height: auto;
  margin: 0 auto;
  padding: 1em 0;
  border-bottom: solid 1px #ddd;
}

.thumbnails:last-child {
  border: none;
}

.thumbnails img {
  display: none;
}

.thumbnails p.meta {
  font-size: .8em;
}

.thumbnails h3, .thumbnails p {
  color: #3B3B3B;
}

.thumbnails a:hover h3 {
  text-decoration: underline;
  color: #3958A7;
}

@media screen and (min-width: 768px) {
  .thumbnails {
    width: 35%;
    margin: 2.5em auto;
    border: none;
  }
  .thumbnails img {
    display: block;
    width: 100%;
  }
  .thumbnails p {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .thumbnails {
    width: 30%;
    margin: 1em auto;
  }
}

section.contact {
  background-color: #3958A7;
  color: #fff;
  font-family: Helvetica, Arial, sans-serif;
}

section.contact h1 {
  margin: 0 0 1em;
}

section.contact p {
  font-size: 1em;
  margin: 0 0 1em;
}

.form {
  min-height: 75%;
  display: block;
  width: 80%;
  margin: 0 auto;
}

.form label, .form input, .form textarea {
  display: block;
  color: #3B3B3B;
}

.form input, .form textarea {
  margin: 0 0 1em;
  width: 100%;
}

.form textarea {
  width: 100%;
}

.about {
  min-height: 80vh;
}

article h2 {
  color: #3B3B3B;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin: 2em 5em;
}

@media screen and (min-width: 768px) {
  article h2 {
    text-align: left;
    margin: 2em 0em 0em 1.5em;
  }
}

@media screen and (min-width: 1200px) {
  article h2 {
    margin: 3em 0em 0em 2em;
  }
}

article {
  padding: 1em 3em;
  color: #3B3B3B;
  font-family: Arial, Helvetica, sans-serif;
}

.copy {
  background-color: #f7f8f9;
  width: 100%;
}

footer {
  width: 100%;
  background-color: #3B3B3B;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  bottom: 0;
  padding: .5em 0;
}
/*# sourceMappingURL=main.readable.css.map */