body{
    font-family: Helvetica, Arial, sans-serif;
    color: $color-grey;
}
header{
    
    #logo {
        background-color: $color-grey;
        color: #fff;
        width: 100%;

        h1{
            font-family: Helvetica, Arial, sans-serif;
            text-align: center;
            font-weight: 100;
            margin: 0;
            padding: 2% 0%;
            span{
                color: $color-lime;
            }
            @media #{$query_tablet}{
                text-align: left;
                margin: 0 1em;
            }
        }
    }

}
