body{
    font-family: Helvetica, Arial, sans-serif;
    color: $color-grey;
}
header{
#logo {
    background-color: $color-grey;
    color: #fff;
    width: 100%;
}

h1 {
    font-family: Helvetica, Arial, sans-serif;
    text-align: center;
    font-weight: 100;
    margin: 0px;
    padding: 2% 0%;
    @media #{$query_tablet}{
        text-align: left;
    }
    span{
        color: $color-lime;
    }
    
}

}
