.about {
    min-height: 80vh;
    width: 80%;
    margin: 0 auto;

    ul{
        margin: 0;
        padding: 0;
        li{
            background-color: #fff;
            font-weight: 600;
            border-bottom: 1em;
            margin: 0;
            padding: 0;
        }
    }

    @media #{$query_tablet}{
        width: 80%;
    }

    @media #{$query_laptop}{
        width: 50%;
    }
}

article h2{
    color: $color-grey;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

@media #{$query_tablet}{
    article h2{
        text-align: left;
        margin: 2em 0em 0em 1.5em;
    }
}

@media #{$query_laptop}{
    article h2{
        margin: 3em 0em 0em 2em;
    }
}

article {
    padding: 1em 3em;
    color: $color-grey;
    font-family: Arial, Helvetica, sans-serif;
}

.copy {
    background-color: $color-lb;
    width: 100%;
    
}