.content {
    width: 75%;
    margin: 0 auto;
}
section.hero{
    background-color: $color-blue;
    padding: 7em 0 1em;
    text-align: center;
    color: #fff;
    

    h1{
        font-family: Helvetica, Arial, sans-serif;
        font-weight: 100;
        margin: 0;
        padding: 0;
        
        span{
            color: $color-lime;
        }
    }

    h2{
        font-family: Helvetica, Arial, sans-serif;
        font-weight: 100;
        margin-bottom: 3em;
        padding: 0 1em;
    }

    a {
        color: #fff;
        display: inline-block;
        border: solid 1px #fff;
        padding: 1.5%;
        box-shadow: 2.5px 3px rgba(255, 255, 255, 0.1); 
 
    }
}

section.info{
    display: block;
    width: 80%;
    padding: 0 10%;

    h1{
        text-align: center;
        font-size: 5em;
    }

    @media #{$query_laptop}{
        display: flex;
        width: 100%;
        padding: 0;

        .heading{
            width: 50%;
            h1{
                text-align: right;
                margin-right: 10%;
            }
        }

        aside{
            width: 35%;
            padding-right: 15%;
    
            p{
                margin: 12% 0;
            }
        }
    }

}

section.latest {
    margin: 0;
    background-color: $color-lb;
    color: $color-grey;
    padding: .25em 0 4em 0;


    h2{
        display: block;
        margin: 2em 0;
        text-align: center;
    }

    .post {
        background-color: #fff;
        width: 100%;
        margin: 0 auto;
        padding-bottom: 2em;
        font-family: Helvetica, Arial, sans-serif;
                       
            
        .box{
            width: 100%;

            img{
                width: 100%;
            }
        }
        h3{
            margin: 1em 1em;
        }
        p{
            margin: 0 1em;
        }

       @media #{$query_tablet} {
           width: 45%;
           
       } 

       @media #{$query_laptop} {
        width: 30%;
    } 
    }
}

section.connect {
    background-color: $color-blue;
    color: #fff;
    font-family: Helvetica, Arial, sans-serif;
    text-align: center;
    padding: 1em 0 4em 0;

    img {
        width: 15%;
        margin: 1em 3em 0;

        @media #{$query_tablet}{
            width: 10%;
            margin: 2em 4em 0 4em; 
        }

        @media #{$query_laptop}{
            width: 5%;
        }
    }
}


.blogpost{

    h2, .meta{
        text-align: center;
    }

    a{
        display: inline;
        color: $color-blue;
        &:hover{
            text-decoration: underline;
            background: none;
        }
    }
    ol{
        width: 100%;

    }

    img{
        width: 100%;

        @media #{$query_tablet}{
            max-height: 45vh;
            object-fit: cover;
        }

        @media #{$query_laptop}{
            max-height: 50vh;
        }
    }

    @media #{$query_tablet}{
        .txt{
            width: 80%;
            margin: 0 auto;

            ol{
                padding: 0;
                margin: 3em 0;
            }
        }
    }
}

.articles {
    display: flex;
    flex-flow: column nowrap;
    min-height: 90vh;
    @media #{$query_tablet}{
        flex-flow: row wrap;
    }
}

.thumbnails {
    display: block;
    width: 90%;
    height: auto;
    margin: 0 auto;
    padding: 1em 0;
    border-bottom: solid 1px #ddd;
    &:last-child{
        border: none;
    }
    img {
        display: none;
    }

    p.meta {
        font-size: .8em;
    }

    h3, p {
        color: $color-grey;
    }
    a:hover h3{
        text-decoration: underline;
        color: $color-blue;
    }

    @media #{$query_tablet}{
        width: 35%;
        margin: 2.5em auto;
        border: none;

        img{
            display: block;
            width: 100%;
        }
        p{
            display: none;
        }
    }

    @media #{$query_laptop}{
        width: 30%;
        margin: 1em auto;
    }
}

section.contact{
    background-color: $color-blue;
    color: #fff;
    font-family: Helvetica, Arial, sans-serif;
    text-align: center;
    padding: 4em 0;

    h1 {
        margin: 0 0 1em;
    }

    p{
        font-size: 1em;
        margin: 0 0 1em;
        padding: 0 1em;
    }
}

.form {
    min-height: 50%;
    display: block;
    width: 80%;
    margin: 2em auto 0;

    h1{
        display: block;
    }

    form{
        margin-top: 3em;
    }

    label, input, textarea{
        display: block;
        color: $color-grey;
    }

    input, textarea{
        margin: 0 0 1em;
        width: 100%;
    }

    input{
        border: none;
        border-bottom: solid 1px #ddd;
        padding: 1em 1em 0.3em;
    }

    textarea {
        width: 100%;
        border-color: #ddd;
        margin: 1em 0 1em;
        height: 25%;
    }



    @media #{$query_laptop}{
        display: block;
        width: 100%;
        margin: 5em 0 0;
        padding: 0;

        form{
            display: flex;
            width: 70%;
            margin: 0 auto;

            .fields{
                width: 45%;
                margin: 0 auto;
            }            
            .msg-area{
                width: 45%;
                margin: 0 auto;
            }
        }
    }

    }