section.hero{
    background-color: $color-blue;
    padding: 4em 0;
}

.hero h1{
    text-align: center;
    margin: 0;
    padding: 0;
    color: #fff;
}
section.latest {
    margin: 0;
    background-color: $color-lime;
    color: $color-grey;
}

section.connect {
    background-color: $color-blue;
    color: #fff;
    font-family: Helvetica, Arial, sans-serif;
    text-align: center;
}

section.contact{
    background-color: $color-blue;
    color: #fff;
}

.contact p {
    font-size: 1em;
    font-family: Helvetica, Arial, sans-serif;

}