body {
  font-family: Helvetica, Arial, sans-serif;
  color: #3B3B3B;
}

header #logo {
  background-color: #3B3B3B;
  color: #fff;
  width: 100%;
}

header h1 {
  font-family: Helvetica, Arial, sans-serif;
  text-align: center;
  font-weight: 100;
  margin: 0px;
  padding: 2% 0%;
}

@media screen and (min-width: 768px) {
  header h1 {
    text-align: left;
  }
}

header h1 span {
  color: #BFFF60;
}

nav {
  font-family: Arial, Helvetica, sans-serif;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: none;
}

@media screen and (min-width: 768px) {
  ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    float: right;
    margin: -3.5em 3em 0 0;
  }
}

.active {
  display: block;
  -webkit-transition: 2s;
  transition: 2s;
}

ul li {
  display: block;
  background-color: #3B3B3B;
}

li a {
  text-decoration: none;
  color: #fff;
  font-size: 1.25em;
  text-align: center;
  width: 100%;
  display: block;
  text-align: center;
  padding: .5em 0;
  -webkit-transition: .5s;
  transition: .5s;
}

li a:hover {
  background-color: #3958A7;
}

@media screen and (min-width: 768px) {
  li a {
    width: 5em;
  }
}

.menu-btn {
  float: right;
  margin: -2.5em 1em 0 0;
}

@media screen and (min-width: 768px) {
  .menu-btn {
    display: none;
  }
}

.bigbox {
  height: 100vh;
  width: 100%;
  background-color: #3B3B3B;
}

section.placeholder {
  display: inline-block;
  background-color: #3B3B3B;
  margin-top: 30%;
  padding: 0 0 0;
  width: 100%;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

.content {
  width: 75%;
  margin: 0 auto;
}

section.hero {
  background-color: #3958A7;
  padding: 10em 0;
  text-align: center;
  color: #fff;
}

section.hero h1 {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 100;
  margin: 0;
  padding: 0;
}

section.hero h1 span {
  color: #BFFF60;
}

section.hero h2 {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 100;
}

section.latest {
  margin: 0;
  background-color: #f7f8f9;
  color: #3B3B3B;
  padding: .25em 0 4em 0;
}

section.latest h2 {
  display: block;
  margin: 2em 0;
  text-align: center;
}

section.latest .post {
  background-color: #fff;
  width: 95%;
  margin: 0 auto;
  padding-bottom: 2em;
  font-family: Helvetica, Arial, sans-serif;
  border: 1px solid #aaaaaa;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}

section.latest .post .box {
  width: 100%;
}

section.latest .post .box img {
  width: 100%;
}

section.latest .post h3 {
  margin: 1em 1em;
}

section.latest .post p {
  margin: 0 1em;
}

@media screen and (min-width: 768px) {
  section.latest .post {
    width: 45%;
  }
}

@media screen and (min-width: 1200px) {
  section.latest .post {
    width: 30%;
  }
}

section.connect {
  background-color: #3958A7;
  color: #fff;
  font-family: Helvetica, Arial, sans-serif;
  text-align: center;
  padding: 1em 0 4em 0;
}

section.connect img {
  width: 15%;
  margin: 1em 1.5em 0 1.5em;
}

@media screen and (min-width: 768px) {
  section.connect img {
    width: 10%;
    margin: 2em 4em 0 4em;
  }
}

section.contact {
  background-color: #3958A7;
  color: #fff;
}

.contact p {
  font-size: 1em;
  font-family: Helvetica, Arial, sans-serif;
}

.blogpost ol {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .blogpost ol {
    width: 80%;
    margin: 10% auto 0;
  }
}

.blogpost img {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .blogpost img {
    max-height: 45vh;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

@media screen and (min-width: 1200px) {
  .blogpost img {
    max-height: 50vh;
  }
}

article h2 {
  color: #3B3B3B;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin: 2em 5em;
}

@media screen and (min-width: 768px) {
  article h2 {
    text-align: left;
    margin: 2em 0em 0em 1.5em;
  }
}

@media screen and (min-width: 1200px) {
  article h2 {
    margin: 3em 0em 0em 2em;
  }
}

article {
  padding: 1em 3em;
  color: #3B3B3B;
  font-family: Arial, Helvetica, sans-serif;
}

.copy {
  background-color: #f7f8f9;
  width: 100%;
}

footer {
  width: 100%;
  background-color: #3B3B3B;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  bottom: 0;
  padding: .5em 0;
}

body {
  background-color: #fff;
}
/*# sourceMappingURL=main.readable.css.map */