//Colors
$color-lime: #BFFF60;
$color-rose: #e03131;
$color-blue: #3958A7;
$color-lb: #f7f8f9;
$color-grey: #3B3B3B;
$color-lgrey: rgb(170, 170, 170);

//Media Queries
$query_tablet: "screen and (min-width : 768px)";
$query_laptop: "screen and (min-width : 1200px)";