//Colors
$color-lime: #BFFF60;
$color-rose: #FF6A48;
$color-blue: #2553CC;
$color-grey: #3B3B3B;

//Media Queries
$query_tablet: "screen and (min-width : 768px)";
$query_laptop: "screen and (min-width : 1200px)";